@use "sass:color";
@use "settings" as *;
@use "base";

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  height: $spacing-unit * 2;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@media (max-width: ($content-width - $spacing-unit)) {
  .footer-col {
    // float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  display: flex;
  padding: $spacing-unit 0;
  margin: auto;
  position: relative;
}

.default-wrapper {
  flex: 1;
  width: $content-width;
}

.page-heading {
  @include relative-font-size(2);
}

.left-floating-content {
  width: $spacing-unit * 5;
  padding: calc($spacing-unit / 2);
  border-radius: calc($spacing-unit / 4);
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  position: sticky;
  top: $spacing-unit * 2;
  align-self: flex-start;
  margin-right: 30px;
  flex-shrink: 0;
}

@media (max-width: ($content-width + $spacing-unit * 11 - 80)) {
  .page-content {
    display: block;
    width: calc(100% - 40px);
    max-width: $content-width;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .default-wrapper {
    width: calc(100% - 40px);
    max-width: $content-width;
  }

  .left-floating-content {
    position: static;
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    max-width: $content-width;
  }
}

.fullpage-list-heading {
  @include relative-font-size(1);
  font-weight: bold;
  margin-bottom: 15px;
}

.fullpage-list {
  margin-left: 0;
  list-style: none;
}

.fullpage-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.fullpage-link {
  display: block;
  @include relative-font-size(1);
  font-weight: bold;
}



/**
 * Posts
 */
.fullpage-header {
  margin-bottom: $spacing-unit;
}

.fullpage-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.fullpage-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(2.15);

    @include media-query($on-laptop) {
      @include relative-font-size(1.85);
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.7);
    }
  }

  h3 {
    @include relative-font-size(1.85);

    @include media-query($on-laptop) {
      @include relative-font-size(1.55);
    }
  }

  h4 {
    @include relative-font-size(1.7);

    @include media-query($on-laptop) {
      @include relative-font-size(1.4);
    }
  }

  h5 {
    @include relative-font-size(1.55);
    
    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h6 {
    @include relative-font-size(1.4);

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }
}
