---
layout: default
---
<article class="post">

  {% if page.root %}
  <div class="prevnext-root">
    <a href="{{ page.root.url | relative_url }}">☰ 返回根目录</a>
  </div>
  {% endif %}

  <header class="fullpage-header">
    <h1 class="fullpage-title">{{ page.title | escape }}</h1>
    {% if page.excerpt %}
    <h4>{{ page.excerpt }}</h4>
    {% endif %}
  </header>

  {% if page.toc_html %}
  <div class="autotoc">
    <h2>{{ page.toc_title | default: "目录" }}</h2>
    {{ page.toc_html }}
  </div>
  {% endif %}

  <div class="fullpage-content">
    {{ content }}
  </div>

</article>

{% include prevnext.html %}
